.#{$prefix}-feedbackContainer {
  .#{$prefix}-feedbackContent {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    .#{$prefix}-feedbackRow {
      width: 100%;
      margin-bottom: 20px;
      .#{$prefix}-feedbackCol {
        font-size: 36px;
        text-align: center;
      }
    }
    .#{$prefix}-feedbackButton {
      width: 100%;
    }
    :global(.#{$prefix}-form-item) {
      margin-bottom: 10px;
    }
    .#{$prefix}-feedbackHidden {
      display: none;
    }
    .#{$prefix}-feedbackRadioGroup {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      .#{$prefix}-radio {
        display: none !important;
      }
    }

    .#{$prefix}-form-item {
      margin-bottom: 10px;
    }
  }
  .#{$prefix}-popover-title {
    margin-bottom: 0 !important;
  }

  .#{$prefix}-outsideFeedbackButton {
    padding-left: 8px !important;
    padding-right: 8px !important;
    font-size: 12px;
  }

  .#{$prefix}-popover-inner {
    display: flex;
    flex-direction: column;

    .#{$prefix}-popover-inner-content {
      height: 200px;
      display: flex;
      align-items: center;
      flex: 1;
    }
  }
}

.#{$prefix}-feedbackSpace {
  width: 100%;
  text-align: center;
  .#{$prefix}-feedbackIcon {
    font-size: 45px;
  }
}

.#{$prefix}-feedbackForm {
  width: 100%;
}

.#{$prefix}-feedbackFormHidden {
  width: unset;
}
