.#{$prefix}draggable-layout {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.#{$prefix}draggable-divider {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 4px transparent solid;
  transform: translate(-2px);
  z-index: 90;
  transition: color 0.3s, background 0.3s, border 0.3s;
  cursor: col-resize;
}

.#{$prefix}draggable-divider:hover,
.#{$prefix}draggable-divider:active,
.#{$prefix}draggable-divider.#{$prefix}draggable-divider-active {
  border-left: 4px #1890ff solid;
}

.#{$prefix}draggable-mask {
  position: absolute;
  inset: 0;
  z-index: 91;
}

.#{$prefix}draggable-children {
  position: absolute;
  top: 0;
  bottom: 0;

  > * {
    height: 100%;
  }
}
