.#{$prefix}loadingMask {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f5ff;
  z-index: 1999;
  transition: all 0.3s;
}

.#{$prefix}loadingHide {
  opacity: 0;
}

.#{$prefix}loadingLoader {
  position: relative;
  width: 86px;
  height: 20px;
  margin: auto;
}

.#{$prefix}loadingSquare {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
}

.#{$prefix}loadingSquare:nth-child(1) {
  left: 0;
  animation: square1 1.5s linear forwards infinite;
}

.#{$prefix}loadingSquare:nth-child(2) {
  left: 22px;
  animation: square2 1.5s linear forwards infinite;
}

.#{$prefix}loadingSquare:nth-child(3) {
  left: 44px;
  animation: square3 1.5s linear forwards infinite;
}

.#{$prefix}loadingSquare:nth-child(4) {
  left: 66px;
  animation: square4 1.5s linear forwards infinite;
}

@keyframes square1 {
  0% {
    background-color: #096dd9;
    transform: translate(0, 0);
  }

  9.09091% {
    background-color: #096dd9;
    transform: translate(0, -22px);
  }

  18.18182% {
    background-color: #022679;
    transform: translate(22px, -22px);
  }

  27.27273% {
    transform: translate(22px, 0);
  }

  100% {
    background-color: #022679;
    transform: translate(22px, 0);
  }
}

@keyframes square2 {
  0% {
    background-color: #022679;
    transform: translate(0, 0);
  }

  18.18182% {
    transform: translate(0, 0);
  }

  27.27273% {
    background-color: #022679;
    transform: translate(0, 22px);
  }

  36.36364% {
    background-color: #f57712;
    transform: translate(22px, 22px);
  }

  45.45455% {
    transform: translate(22px, 0);
  }

  100% {
    background-color: #f57712;
    transform: translate(22px, 0);
  }
}

@keyframes square3 {
  0% {
    background-color: #f57712;
    transform: translate(0, 0);
  }

  36.36364% {
    transform: translate(0, 0);
  }

  45.45455% {
    background-color: #f57712;
    transform: translate(0, -22px);
  }

  54.54545% {
    background-color: #ffd600;
    transform: translate(22px, -22px);
  }

  63.63636% {
    transform: translate(22px, 0);
  }

  100% {
    background-color: #ffd600;
    transform: translate(22px, 0);
  }
}

@keyframes square4 {
  0% {
    background-color: #ffd600;
    transform: translate(0, 0);
  }

  54.54545% {
    transform: translate(0, 0);
  }

  63.63636% {
    background-color: #ffd600;
    transform: translate(0, 22px);
  }

  72.72727% {
    background-color: #f57712;
  }

  81.81818% {
    background-color: #022679;
  }

  90.90909% {
    background-color: #096dd9;
    transform: translate(-66px, 22px);
  }

  100% {
    background-color: #096dd9;
    transform: translate(-66px, 0);
  }
}
