.#{$prefix}-templateCard {
  height: 100%;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  }

  &.selected {
    border: 2px solid #1990fe;
  }

  .#{$prefix}-type {
    padding: 2px 8px;
    width: fit-content;
    border-radius: 4px;
    color: #1990fe;
    background-color: #e6f4ff;
  }

  .#{$prefix}-title {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
  }

  .#{$prefix}-features {
    .#{$prefix}-featureItem {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .#{$prefix}-icon {
        margin-right: 8px;
        color: #1990fe;
      }
    }
  }
}
