.#{$prefix}contactButtonCard {
  position: fixed !important;
  right: 3rem;
  top: 70%;
  display: flex;
  flex-direction: column;
  cursor: pointer !important;
  z-index: 999;
  border: 3px dashed orange !important;

  .ant-card-body,
  .#{$prefix}card-body {
    padding: 5px;
  }
}
