$primary-color: var(--anchor-x-tabs-primary-color);
$secondary-color: var(--anchor-x-tabs-secondary-color);
.#{$prefix}-anchorXTabs {
  width: 120px;
  height: 100%;
  background-color: $secondary-color;
  .#{$prefix}-anchorItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    min-height: 120px;
    word-break: break-all;
    font-size: 16px;
    font-weight: 500;
    color: #a5a5a5;
    background-color: transparent;
    flex-direction: column;
    cursor: pointer;

    .#{$prefix}-icon {
      font-size: 40px;
      color: #a5a5a5;
    }

    .#{$prefix}-title {
      text-align: center;
    }
  }

  .#{$prefix}-active {
    border-left: 6px solid $primary-color;
    color: $primary-color;
    background-color: #fff;

    .#{$prefix}-icon {
      font-size: 40px;
      color: $primary-color;
    }
  }
}
